.applicant-wrapper {
  margin-top: 40px;
  /* border: 4px solid #232323; */
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  /* margin-right: 10px; */
  /* width: 90%; */
}

.applicant-wrapper a {
  /* margin-bottom: 5em !important; */
  margin-top: 20px;
}
.applicant-name {
  margin-bottom: 1em;
}

#profileEditFormWrapper {
  display: none;
}

#userEditForm .login_wrapper {
  padding-left: 0;
  background: none;
}

.edit-top p{
  font-size: 1.25em !important;
  color: black;
  text-transform: uppercase;
}

.edit-btn {
  font-size: 1.15em;
  padding: 5px 20px;
}